/* Css Selector  */
/* ID Selector */
#para {
  color: yellow;
  text-align: justify;
}

/* Class Selector */
.cpara {
  color: blue;
}

/* Universal Selector */
* {
  margin: 0;
  padding: 0;
}
/* Grouping Selector */
/* h1,
p {
  background-color: pink;
}; */
.container {
  background: #232121;
  color: rgb(245, 123, 123);
}
